# Student Performance Analysis & Prediction System

This notebook covers database setup, data analysis, visualization, and regression modeling for student performance prediction.

## 1. Database Creation and Table Setup (MySQL)

The following SQL code creates the `student_analysis` database and the `students` table with the required fields.

In [ ]:
-- Create database and table
CREATE DATABASE IF NOT EXISTS student_analysis;
USE student_analysis;

CREATE TABLE IF NOT EXISTS students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    gender ENUM('Male', 'Female'),
    attendance FLOAT,
    study_hours FLOAT,
    previous_score FLOAT,
    final_score FLOAT
);

## 2. Insert Dummy Data into students Table

Insert at least 30 dummy student records into the `students` table.

In [ ]:
-- Insert 30 dummy records
INSERT INTO students (name, gender, attendance, study_hours, previous_score, final_score) VALUES
('Alice', 'Female', 92, 5.5, 78, 85),
('Bob', 'Male', 80, 4.0, 65, 70),
('Charlie', 'Male', 60, 2.5, 55, 60),
('Diana', 'Female', 88, 6.0, 82, 90),
('Ethan', 'Male', 75, 3.5, 60, 68),
('Fiona', 'Female', 95, 7.0, 90, 95),
('George', 'Male', 70, 2.0, 50, 55),
('Hannah', 'Female', 85, 5.0, 75, 80),
('Ian', 'Male', 65, 3.0, 58, 62),
('Julia', 'Female', 90, 6.5, 85, 92),
('Kevin', 'Male', 78, 4.5, 68, 72),
('Laura', 'Female', 82, 5.2, 80, 84),
('Mike', 'Male', 60, 2.8, 55, 59),
('Nina', 'Female', 88, 6.1, 83, 89),
('Oscar', 'Male', 72, 3.7, 62, 67),
('Paula', 'Female', 94, 7.2, 91, 96),
('Quentin', 'Male', 68, 2.9, 54, 60),
('Rachel', 'Female', 86, 5.8, 78, 83),
('Sam', 'Male', 74, 3.6, 65, 70),
('Tina', 'Female', 91, 6.7, 87, 93),
('Uma', 'Female', 89, 6.3, 84, 90),
('Victor', 'Male', 77, 4.2, 69, 73),
('Wendy', 'Female', 93, 7.1, 92, 97),
('Xander', 'Male', 66, 2.7, 56, 61),
('Yara', 'Female', 87, 5.9, 79, 85),
('Zack', 'Male', 73, 3.8, 66, 71),
('Amy', 'Female', 90, 6.4, 86, 91),
('Brian', 'Male', 69, 3.1, 57, 63),
('Cathy', 'Female', 85, 5.3, 77, 82),
('David', 'Male', 71, 3.9, 64, 69);

## 3. SQL Queries for Data Analysis

The following SQL queries help analyze the data in the `students` table.

In [ ]:
-- 1. Top 5 students by final_score
SELECT * FROM students ORDER BY final_score DESC LIMIT 5;

-- 2. Average final_score grouped by gender
SELECT gender, AVG(final_score) AS avg_final_score FROM students GROUP BY gender;

-- 3. Students with attendance less than 75%
SELECT * FROM students WHERE attendance < 75;

-- 4. Relationship between study_hours and final_score
SELECT study_hours, AVG(final_score) AS avg_final_score
FROM students
GROUP BY study_hours
ORDER BY study_hours;

## 4. Connect Python to MySQL and Load Data

Use Python to connect to the MySQL database and load the `students` table into a Pandas DataFrame.

In [ ]:
# Install required packages if not already installed
# !pip install mysql-connector-python pandas sqlalchemy

import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# MySQL connection details
host = 'localhost'
user = 'root'
password = ''  # Update if you have a password

db = 'student_analysis'

# Using SQLAlchemy for convenience
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{db}')

# Load data into DataFrame
df = pd.read_sql('SELECT * FROM students', engine)
df.head()

## 5. Handle Missing Values in DataFrame

Check for missing values and handle them appropriately.

In [ ]:
# Check for missing values
print(df.isnull().sum())

# Option 1: Drop rows with missing values (if any)
df = df.dropna()

# Option 2: Fill missing values (if you prefer)
# df = df.fillna(df.mean(numeric_only=True))

## 6. Statistical Analysis and Correlation Matrix

Perform basic statistical analysis and generate a correlation matrix for the numerical columns.

In [ ]:
# Basic statistics
df.describe()

# Correlation matrix
corr = df.corr(numeric_only=True)
corr

## 7. Attendance vs Final Score Visualization

Scatter plot of attendance vs final_score.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(8,5))
sns.scatterplot(x='attendance', y='final_score', data=df)
plt.title('Attendance vs Final Score')
plt.xlabel('Attendance (%)')
plt.ylabel('Final Score')
plt.show()

## 8. Study Hours vs Final Score Visualization

Scatter plot of study_hours vs final_score.

In [ ]:
plt.figure(figsize=(8,5))
sns.scatterplot(x='study_hours', y='final_score', data=df)
plt.title('Study Hours vs Final Score')
plt.xlabel('Study Hours')
plt.ylabel('Final Score')
plt.show()

## 9. Final Score Distribution Plot

Plot the distribution of final_score using a histogram and KDE plot.

In [ ]:
plt.figure(figsize=(8,5))
sns.histplot(df['final_score'], kde=True, bins=10)
plt.title('Final Score Distribution')
plt.xlabel('Final Score')
plt.ylabel('Frequency')
plt.show()

## 10. Correlation Heatmap

Visualize the correlation matrix as a heatmap using Seaborn.

In [ ]:
plt.figure(figsize=(8,6))
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Heatmap')
plt.show()

## 11. Regression Model: Train/Test Split

Split the data into training and testing sets for regression modeling.

In [ ]:
from sklearn.model_selection import train_test_split

# Features and target
y = df['final_score']
X = df[['attendance', 'study_hours', 'previous_score']]

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 12. Regression Model: Training and Prediction

Train a regression model (Linear Regression) and make predictions on the test set.

In [ ]:
from sklearn.linear_model import LinearRegression

# Train model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predict
y_pred = lr.predict(X_test)

y_pred[:5]  # Show first 5 predictions

## 13. Model Evaluation: R2, MAE, MSE

Evaluate the regression model using R2 score, Mean Absolute Error (MAE), and Mean Squared Error (MSE).

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f'R2 Score: {r2:.2f}')
print(f'MAE: {mae:.2f}')
print(f'MSE: {mse:.2f}')

## 14. Save Trained Model with Pickle

Save the trained regression model to disk using the pickle library.

In [ ]:
import pickle

# Save model to file
with open('student_score_model.pkl', 'wb') as f:
    pickle.dump(lr, f)

print('Model saved as student_score_model.pkl')

## 15. Bonus: Compare with Another Regression Model

Train and evaluate a RandomForestRegressor and compare its performance with Linear Regression.

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)

r2_rf = r2_score(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)

print(f'Random Forest R2: {r2_rf:.2f}')
print(f'Random Forest MAE: {mae_rf:.2f}')
print(f'Random Forest MSE: {mse_rf:.2f}')